.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;

    border-left: 4px solid var(--alert-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

    animation: slideFade 0.3s ease-in;
}

/* Animation */
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
