.list {
    margin: var(--space-sm) 0;
    padding-left: var(--space-lg);
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-sm);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-medium);
    box-shadow: var(--shadow-base);
    animation: slideFade var(--transition-fast);
}

/* Animation */
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {
    .list {
        padding-left: 0;
    }
}