:root {
    --alert-padding: 1rem;
    --alert-radius: 0.5rem;
    --color-alert-bg: #f44336;
    --color-alert-text: #ffffff;

    --alert-high-bg: #ffe0e0;
    --alert-high-text: #b20000;

    --alert-low-bg: #d0e9ff;
    --alert-low-text: #005288;

    --alert-normal-bg: #f2f2f2;
    --alert-normal-text: #333;

    --icon-color: #333;
}
