.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-xs) 0;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-sm);
    background-color: var(--color-neutral-subtle);
    box-shadow: var(--shadow-low);
    transition: background-color var(--transition-slow);
    font-family: var(--font-family-base);
    text-align: center;
}

.label {
    font-weight: var(--font-weight-semibold);
}

.value {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
}

.unit {
    margin-left: var(--space-xxs);
    font-size: var(--font-size-lg);
}

.thresholds {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
