.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-xs) 0;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-sm);
    background-color: var(--color-neutral-subtle);
    box-shadow: var(--shadow-low);
    transition: background-color var(--transition-slow);
    text-align: center;
}

.label {
    margin: 0 -10px;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
}

.vitalValue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.value {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
}

.unit {
    margin-left: var(--space-xxs);
    font-size: var(--font-size-lg);
}

.thresholds {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .unit {
        font-size: var(--font-size-md);
    }
}

@media (max-width: 768px) {
    .label {
        font-size: var(--font-size);
    }

    .value {
        font-size: var(--font-size-lg);
    }

    .unit {
        font-size: var(--font-size);
    }
}

@media (max-width: 600px) {
    .value {
        font-size: var(--font-size-md);
    }

    .unit {
        font-size: var(--font-size-sm);
    }

    .thresholds {
        font-size: var(--font-size-sm);
    }
}